* {
    margin: 0;
    border: border-box;
    font-family: 'jetbrains mono';
}

body {
    background-color:#1e2125;
    color: #ffffffcf;
    height: 100%;
}

#navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 290px;
    max-width: 40vw; 
    height: 100%;
    background-color: #15191c;
    z-index: 1;
    overflow-y: auto;
}

@media (max-width: 600px) {
    #navbar {
        width: 60vw;    
        height: 100%;       
        position: fixed; 
        top: 0;
        left: 0;
        overflow-y: auto;    
    }
}



#main-doc {
  position: absolute;
  margin-left: 325px;
  padding: 0em 1.7em 0em 1.7em;
}

.nav-head {
    font-size: 25px;
    font-family: 'Poppins';
    margin:0.7em;
    text-align: center;
    font-weight: bolder;
    padding-bottom: 1.5em;
    padding-top: 1em;
    border-bottom: 5px solid #23262b;
} 

a  {
    text-decoration: none;
    color: #ffffffcf;
    font-family: 'roboto mono';
}

.nav-li {
    text-decoration: none;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-top: 0.75em;
}

.nav-li a{
    color: white;
}

.nav-li li {
    margin-bottom: 1.75em;
    border-bottom: 3px solid #23262b;
    padding-left: 2.1em;
    cursor: pointer;
    padding-bottom: 1.6em;
    font-size: 17px;
    font-weight: 500;
}

.main-section header{
    font-size: 2em;
    font-family: 'poppins';
    margin-bottom: 1em;
    margin-top: 1em;
    font-weight: 450;
}

.main-section p {
    font-style: italic;
    line-height: 1.5em;
    margin-bottom: 1em;
}

h4 {
    font-weight: 600;
    font-size: 1.25em;
    margin-bottom: 1em;
    font-family: 'poppins';
} 

code {
    font-family: monospace;
    background-color: rgba(85, 85, 85, 0.477);
    border-radius: 0.5em;
    padding: 0.25em;
} 

pre {
    background-color: rgba(85, 85, 85, 0.477);
    border-radius: 0.85em;
    padding: 0.75em;
    margin-top: 1em;
    width: fit-content;
} 

pre code {
    background-color: #15191c00;
}

article li {
    padding: 0.5em;
}

footer p {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1.75em;
    font-size: 0.85em;

}

footer a:hover {
    text-decoration: underline;
}

.source {
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 1em;
} 

.source a:hover {
    text-decoration: underline;
}
